body {
  font-family: myriad-pro, serif;
}

h1 {
  color: #f5b0dc;
  text-align: center;
}

#page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  background-color: #eee;
  width: 15%;
  height: 100%;
  position: absolute;
  padding: 10px;
  top: 0px;
}

#left-container { 
  left: 0px;
}

#right-container {
  right: 0px;
}

.plant-holder {
  position: relative;
  height: 13%;
  left: -10px;
}

.plant {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  z-index: 2;
}

.jar {
   background: #dae4f2;
   position: absolute;
}

#jar-walls {
  height: 100%;
  width: 60%;
  border-radius: 1rem;
  bottom: 0.5%;
  left: 20%;
  opacity: 0.5;
  z-index: 1;
}

#jar-top {
  width: 50%;
  height: 5%;
  bottom: 80.5%;
  left: 25%;
  opacity: 0.7;
  z-index: 1;
}

#jar-bottom {
  width: 50%;
  height: 1%;
  bottom: 0%;
  left: 25%;
  opacity: 0.7;
}

.dirt {
  width: 60%;
  height: 5%;
  background: #5c382c;
  position: absolute;
  border-radius: 0 0 1rem 1rem;
  bottom: 1%;
  left: 20%;
  opacity: 0.7;
  z-index: -1;
}
